* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-anchor: none;
}

html {
    font-size: 10px;
}

.body {
    background-image: url(../img/bg.jpg);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.nav {
    background: #111111;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10vw;
    height: fit-content;
}

.nav .nav__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.nav .nav__info .nav__title {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    padding: 0 1rem;
}

.nav .nav__info .nav__logo {
    background: #111111;
    border-radius: 50%;
    transition: background 0.3s, transform 0.5s;
}

.nav .nav__info .nav__logo:hover {
    background: #D80023;
    transform: scale(105%);
}

.nav .nav__links li {
    display: inline;
}

.nav .nav__links li .nav__link {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 1rem;
    padding: 0.5rem;
    transition: background 0.2s;
}

.nav .nav__links li .nav__link:hover {
    background: #D80023;
}

.nav .nav__links li .nav__link--visited {
    font-weight: normal;
    color: #bbb;
}

.nav .nav__links li .nav__link--visited:hover {
    background: none;
    cursor: default;
    color: #bbb;
}