* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none; }

html {
  height: fit-content;
  font-size: 10px; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-anchor: none;
  font-size: 10px; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.header {
  position: sticky;
  top: 0;
  z-index: 50; }

.nav {
  background: #111111;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10vw;
  height: fit-content;
  border-bottom: #ff0b4c solid 2px;
  z-index: 50; }
  .nav .nav__menu {
    display: none; }
  .nav .nav__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; }
    .nav .nav__info .nav__title {
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      padding: 0 1rem;
      transition: border 1s; }
      .nav .nav__info .nav__title:hover {
        border-bottom: #ff0b4c solid 2px; }
    .nav .nav__info .nav__logo {
      background: #111111;
      border-radius: 50%;
      transition: background 0.3s, transform 0.5s;
      transition: transform 1s; }
      .nav .nav__info .nav__logo:hover {
        background: #ff0b4c;
        transform: scale(105%); }
      .nav .nav__info .nav__logo img {
        height: 4rem; }
  .nav .nav__links li {
    display: inline; }
    .nav .nav__links li .nav__link {
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0 1rem;
      padding: 0.5rem;
      transition: background color 0.2s; }
      .nav .nav__links li .nav__link:hover {
        background: #ff0b4c;
        color: #111111; }
    .nav .nav__links li .nav__link--visited {
      font-weight: normal;
      color: #bbb; }
      .nav .nav__links li .nav__link--visited:hover {
        background: none;
        cursor: default;
        color: #bbb; }

.nav__hamb {
  display: none; }

@media (max-width: 1024px) {
  .nav {
    background: #111111;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0vw;
    height: fit-content;
    position: sticky;
    top: 0;
    border-bottom: #ff0b4c solid 2px; } }

@media (max-width: 768px) {
  .body__bg {
    display: none; }
  .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .nav .nav__links {
      display: none; }
    .nav .nav__menu {
      margin-right: 1rem;
      display: block; }
      .nav .nav__menu img {
        height: 4rem; }
    .nav .nav__info .nav__title {
      text-transform: uppercase;
      padding: 0 1rem;
      transition: border 1s; }
      .nav .nav__info .nav__title:hover {
        border-bottom: #ff0b4c solid 2px; }
  .nav__hamb {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: fit-content;
    width: 50vw;
    background: #111111;
    border-left: #ff0b4c solid 2px;
    border-bottom: #ff0b4c solid 2px;
    display: none;
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
    padding-top: 5rem; }
    .nav__hamb li {
      margin: 2rem 0;
      padding: 0 2rem;
      width: 100%; }
    .nav__hamb .hamb__link {
      width: 100%;
      text-align: center;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      transition: background color 0.2s;
      padding: 2rem; }
      .nav__hamb .hamb__link:hover {
        background: #ff0b4c;
        color: #111111; }
    .nav__hamb .hamb__link--visited {
      font-weight: normal;
      color: #bbb; }
      .nav__hamb .hamb__link--visited:hover {
        background: none;
        cursor: default;
        color: #bbb; } }

.footer {
  border-top: #ff0b4c solid 2px;
  background: #111111;
  margin-top: 5rem;
  display: flex;
  flex-flow: column wrap; }
  .footer .footer__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 1rem; }
    .footer .footer__content .footer__social {
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      align-content: center;
      padding: 2rem; }
      .footer .footer__content .footer__social .social__title {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        padding: 1rem;
        text-align: center; }
      .footer .footer__content .footer__social .social__link {
        margin: 0.5rem;
        transition: background 0.2s;
        background: #111111;
        border-radius: 1rem; }
        .footer .footer__content .footer__social .social__link:hover {
          background: #ff0b4c; }
      .footer .footer__content .footer__social .social__imgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center; }
        .footer .footer__content .footer__social .social__imgs .social__img {
          height: 3rem;
          width: 3rem;
          margin: 0.5rem; }
    .footer .footer__content .footer__form {
      padding: 2rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      align-content: center; }
      .footer .footer__content .footer__form .form__label {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        text-align: left; }
      .footer .footer__content .footer__form .form__input .form__email {
        width: fit-content;
        height: 3rem; }
      .footer .footer__content .footer__form .form__input .form__btn {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem;
        transition: background color 0.2s;
        background: #333; }
        .footer .footer__content .footer__form .form__input .form__btn:hover {
          background: #ff0b4c;
          color: #111111; }
    .footer .footer__content .footer__contact {
      padding: 2rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      align-content: center; }
      .footer .footer__content .footer__contact .contact__title {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: bold;
        font-size: 2rem;
        padding: 1rem;
        text-align: left; }
      .footer .footer__content .footer__contact .contact__info {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: normal;
        padding: 0.2rem 1rem;
        font-size: 1.4rem;
        text-align: left; }
  .footer .footer__copy {
    padding: 2rem; }
    .footer .footer__copy .copy__info {
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      text-align: center; }

.news {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-areas: "img titulo" "img content" "img date" "img link";
  grid-auto-flow: row;
  max-width: 1000px;
  height: fit-content;
  grid-template-columns: 1fr 8fr;
  border-radius: 25px 25px 25px 25px;
  margin: 2rem 0; }
  .news .news__title {
    grid-area: titulo;
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: left;
    padding: 1rem; }
  .news .news__text {
    grid-area: content;
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    text-align: left;
    padding: 1rem;
    line-height: 2.5rem; }
  .news .news__img {
    grid-area: img;
    width: 30vw;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0px 0px 25px; }
  .news .news__date {
    grid-area: date;
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
    padding: 1rem 1rem 0.5rem 1rem;
    height: fit-content; }
  .news .news__link {
    grid-area: link;
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    transition: background color 0.2s;
    background: #333;
    border-radius: 0px 0px 25px 0px; }
    .news .news__link:hover {
      background: #ff0b4c;
      color: #111111; }

@media (max-width: 800px) {
  .news {
    grid-template-areas: "date date" "img img" "titulo titulo" "content content" "link link";
    margin: 3rem;
    grid-template-columns: 4fr 4fr;
    border-radius: 25px 25px 25px 25px; }
    .news .news__img {
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 0px 0px; }
    .news .news__date {
      text-align: center; }
    .news .news__link {
      text-align: center;
      border-radius: 0px 0px 25px 25px; } }

.hero {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  padding: 0.5rem 2vw; }
  .hero .hero__title {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem 0;
    padding: 0.5rem; }
  .hero .hero__subtitle {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    padding: 0.5rem;
    margin-bottom: 2vh;
    text-align: center; }
  .hero .hero__link {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    transition: background color 0.2s;
    background: #333;
    margin: 20rem 0; }
    .hero .hero__link:hover {
      background: #ff0b4c;
      color: #111111; }

.member {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1rem; }
  .member .member__title {
    color: #FFFFFF;
    font-family: "Urbanist", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 1rem 0;
    padding: 0.5rem; }
  .member .member__container {
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-areas: "titulo img" "content img" "date img";
    grid-auto-flow: row;
    max-width: 700px;
    height: fit-content;
    grid-template-columns: 5fr 2fr;
    border-radius: 25px 25px 25px 25px;
    margin: 2rem 2rem;
    border: #ff0b4c solid 2px; }
    .member .member__container .member__name {
      grid-area: titulo;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 3rem;
      margin: 1rem 0;
      padding: 0.5rem; }
    .member .member__container .member__img {
      grid-area: img;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 25px 25px 0px; }
    .member .member__container .member__detail {
      grid-area: content;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      padding: 2rem;
      line-height: 2.5rem; }
    .member .member__container .member__date {
      grid-area: date;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      padding: 2rem;
      line-height: 2.5rem;
      text-align: center; }

@media (max-width: 800px) {
  .member {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    margin: 3rem; }
    .member .member__container {
      grid-template-areas: "img img" "titulo date" "content content";
      border-radius: 25px 25px 25px 25px;
      margin: 2rem 0;
      border: #ff0b4c solid 2px; }
      .member .member__container .member__img {
        border-radius: 25px 25px 0px 0px; } }

.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 1rem; }
  .section .album {
    background: #111111;
    display: grid;
    grid-template-areas: "img title" "img detail" "media detail";
    max-width: 700px;
    height: fit-content;
    grid-template-columns: 3fr 5fr;
    border-radius: 25px 25px 25px 25px;
    margin: 2rem 2rem;
    border: #ff0b4c solid 2px; }
    .section .album .album__title {
      grid-area: title;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 3rem;
      margin: 1rem 0;
      padding: 0.5rem; }
    .section .album .album__img {
      grid-area: img;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px 0px 0px 0px; }
    .section .album .album__detail {
      grid-area: detail;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: normal;
      font-size: 1.8rem;
      padding: 2rem;
      line-height: 2.5rem; }
    .section .album .album__media {
      border-radius: 0px 0px 0px 25px;
      grid-area: media; }

@media (max-width: 800px) {
  .section {
    margin: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center; }
    .section .album {
      background: #111111;
      display: grid;
      grid-template-areas: "img img" "title title" "detail detail" "media media";
      max-width: 1000px;
      height: fit-content;
      grid-template-columns: 2fr 4fr;
      border-radius: 25px 25px 25px 25px;
      margin: 2rem 0;
      border: #ff0b4c solid 2px; }
      .section .album .album__title {
        grid-area: title;
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        margin: 1rem 0;
        padding: 0.5rem; }
      .section .album .album__img {
        grid-area: img;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px; }
      .section .album .album__detail {
        grid-area: detail;
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: normal;
        font-size: 1.8rem;
        padding: 2rem;
        line-height: 2.5rem; }
      .section .album .album__media {
        border-radius: 0px 0px 25px 25px;
        grid-area: media; } }

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: fit-content; }
  .main .article {
    display: grid;
    grid-template-areas: "aside letra";
    grid-template-columns: 1fr 6fr;
    height: fit-content;
    max-width: 1000px; }
    .main .article .lyrics {
      border-radius: 0px 25px 25px 0px;
      border-top: #ff0b4c solid 2px;
      border-right: #ff0b4c solid 2px;
      border-bottom: #ff0b4c solid 2px;
      background: #111111;
      grid-area: letra;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: flex-start;
      margin: 0 0;
      padding: 0;
      width: 100%;
      height: 100%; }
      .main .article .lyrics .lyrics__box {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        max-width: 25rem;
        background-color: #333;
        border-radius: 25px;
        height: fit-content;
        margin: 2rem; }
        .main .article .lyrics .lyrics__box .lyrics__title {
          color: #FFFFFF;
          font-family: "Urbanist", sans-serif;
          text-align: center;
          font-weight: bold;
          font-size: 3rem;
          margin: 1rem 0;
          padding: 0.5rem; }
        .main .article .lyrics .lyrics__box .lyrics__content {
          color: #FFFFFF;
          font-family: "Urbanist", sans-serif;
          font-weight: normal;
          font-size: 1.8rem;
          padding: 2rem;
          line-height: 2.5rem;
          text-align: center; }
      .main .article .lyrics .lyrics__media {
        border-radius: 0px 25px 0px 0px; }
    .main .article .aside {
      grid-area: aside;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;
      margin: 0;
      padding: 0;
      justify-content: start;
      align-content: center;
      width: 100%;
      height: 100%;
      border-radius: 25px 0px 0px 25px;
      border-top: #ff0b4c solid 2px;
      border-left: #ff0b4c solid 2px;
      border-bottom: #ff0b4c solid 2px; }
      .main .article .aside .aside__title {
        color: #FFFFFF;
        font-family: "Urbanist", sans-serif;
        font-weight: normal;
        font-size: 1.8rem;
        padding: 2rem;
        line-height: 2.5rem;
        text-align: center; }
      .main .article .aside .aside__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center; }
        .main .article .aside .aside__container .aside__item {
          display: flex;
          flex-flow: row wrap;
          margin: 1rem;
          padding: 1rem;
          width: 100%;
          height: fit-content;
          justify-content: center;
          align-content: center; }
          .main .article .aside .aside__container .aside__item .aside__link {
            color: #FFFFFF;
            font-family: "Urbanist", sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1rem;
            transition: background color 0.2s;
            background: none;
            margin: 1rem;
            text-align: center; }
            .main .article .aside .aside__container .aside__item .aside__link:hover {
              background: #ff0b4c;
              color: #111111; }
          .main .article .aside .aside__container .aside__item .aside__link--visited {
            font-weight: normal;
            color: #bbb; }
            .main .article .aside .aside__container .aside__item .aside__link--visited:hover {
              background: none;
              cursor: default;
              color: #bbb; }
          .main .article .aside .aside__container .aside__item .aside__img {
            width: 50px;
            height: 50px;
            object-fit: cover; }

@media (max-width: 800px) {
  .main {
    margin: 3rem; }
    .main .article {
      grid-template-areas: "aside aside" "letra letra"; }
      .main .article .lyrics {
        border-radius: 0px 0px 25px 25px;
        border-left: #ff0b4c solid 2px;
        border-right: #ff0b4c solid 2px;
        border-bottom: #ff0b4c solid 2px; }
        .main .article .lyrics .lyrics__media {
          border-radius: 0px 0px 0px 0px; }
      .main .article .aside {
        border-radius: 25px 25px 0px 0px;
        border-top: #ff0b4c solid 2px;
        border-left: #ff0b4c solid 2px;
        border-right: #ff0b4c solid 2px; }
        .main .article .aside .aside__container .aside__item {
          padding: .5rem;
          width: fit-content;
          height: fit-content; } }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
  z-index: 15; }

/* Caption of Modal Image */
#caption {
  color: #FFFFFF;
  font-family: "Urbanist", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  padding: 2rem;
  line-height: 2.5rem;
  margin: auto;
  text-align: center; }

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s; }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 800px) {
  .modal-content {
    width: 90%; } }

.body {
  background: #1e1e1e; }
  .body .body__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -10;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover; }

.gallery {
  max-width: 1700px;
  margin: 5rem auto;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around; }
  .gallery .gallery__item {
    background-color: #333;
    height: 200px;
    width: 400px;
    transition: transform 0.3s;
    margin: 0.2rem; }
    .gallery .gallery__item:hover .gallery__img {
      opacity: 15%; }
    .gallery .gallery__item:hover > .gallery__text {
      opacity: 100%; }
    .gallery .gallery__item:hover {
      transform: scale(105%);
      z-index: 0; }
    .gallery .gallery__item .gallery__img {
      opacity: 100%;
      object-fit: cover;
      height: 100%;
      width: 100%;
      transition: opacity 0.4s; }
    .gallery .gallery__item .gallery__text {
      display: block;
      opacity: 0%;
      transition: opacity 0.5s;
      position: relative;
      top: -120px;
      text-align: center;
      color: #FFFFFF;
      font-family: "Urbanist", sans-serif;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.5rem; }
  .gallery .gallery__item--small {
    height: 200px;
    width: 200px; }
